<body>
<script>

  window.onload = function() { prepareEventHandlers();};

  function prepareEventHandlers() {

    position = 0;

    all_photos = <%= @photos %>;

    current_photo = JSON.parse(all_photos[position]);

    back = document.getElementById("back");
    next = document.getElementById("next");
    image = document.getElementById("my_photo");

    image.src = "/UserPhotos/<%= session[:user_id]%>/<%= @track.track_id%>/" + current_photo.file_name;
    initialize_user_map();

    next.addEventListener('click', advance);
    back.addEventListener('click', retreat);
  }


  function initialize_user_map () {

    map = L.mapbox.map('my_map', 'examples.map-i86nkdio');
    map.doubleClickZoom.disable();

    var tracks = L.mapbox.featureLayer(<%= @track_geoJSON%>);

    tracks.addTo(map);
    map.fitBounds(tracks.getBounds());

    zoom = map.getZoom() -1

    SWlat = map.getBounds().getSouthWest().lat;
    SWlong = map.getBounds().getSouthWest().lng;

    NElat = map.getBounds().getNorthEast().lat;
    NElong = map.getBounds().getNorthEast().lng;

    map_center_lat =  SWlat + (Math.abs( SWlat - NElat ) / 2);
    map_center_long = NElong - (Math.abs( SWlong - NElong ) / 4 );

    map.setView([map_center_lat, map_center_long], zoom);

    marker = L.marker([current_photo.lat,current_photo.long]).addTo(map);
    viewer = L.multiPolygon([JSON.parse(current_photo.viewer_coords)]).addTo(map);

  }

  function advance () {
    if ( position < all_photos.length ) { position++ };
    update_page();
   }

  function retreat () {
    if ( position > 0 ) { position-- };
    update_page();
  }


  function update_page() {
    current_photo = JSON.parse(all_photos[position]);
    image.src = "/UserPhotos/<%= session[:user_id]%>/<%= @track.track_id%>/" + current_photo.file_name;
    marker.setLatLng(L.latLng(
       [current_photo.lat,
       current_photo.long]
       ));
    viewer.setLatLngs([JSON.parse(current_photo.viewer_coords)]).addTo(map);

  }

</script>


<div id = "my_map">

<div id = "my_photo_container">
<div id = "back" class = "nav_button"><div>B<br>A<br>C<br>K</div></div>
<img id = "my_photo" src = ""/>
<div id = "next" class = "nav_button"><div>N<br>E<br>X<br>T</div></div>
</div>


<span id = "track_info"><%= "#{@track.attributes["name"]} - #{@track.attributes["description"]}" %></span>

</div>


</body>
